{% extends 'moviesapp/base.html' %}
{% load staticfiles %}
{% load bootstrap %}

{% block body_block%}

<div class="">
  {% if user.is_authenticated %}
    <h3 class="text-center">You are already logged in</h3>
  {% else %}
    <h3 class="text-center">Please Login</h3>
    <div class="row">
      <div class="col-xs-1 col-md-3"></div>
      <div class="col-xs-10 col-md-6">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
             <label class="control-label" for="username">Username:</label>
             <input type="text" name="username" class="form-control" placeholder="Enter Username">
         </div>
         <div class="form-group">
            <label class="control-label" for="password">Username:</label>
            <input type="password" name="password" class="form-control" >
        </div>



          <input type="submit" class="btn btn-primary" value="Login">
        </form>
      </div>
      <div class="col-xs-1 col-md-3"></div>
    </div>
  {% endif %}
</div>

{% endblock %}
